body {
  background-color: gray;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#left-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
#title {
  cursor: pointer;
  text-align: center;
  height: 100px;
  width: 200px;
  font-style: oblique;
  font-size: 65px;
  font-weight: 1100;
  color: yellow;
  margin: 10px;
}
#mute-text {
  margin: 10px;
  color: white;
  font-weight: bold;
}
#mute-button {
  height: 50px;
  width: auto;
  cursor: pointer;
  color: green;
  background: red;
}
#instructions {
  width: 200px;
  color: blue;
  background: gray;
  padding: 10px;
  opacity: 0.75;
  font-size: 20px;
}

#center-elements {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

#right-pane {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 500px;
  background-color: gray;
  opacity: 0.75;
}
.spacer {
  height: 10px;
}
h3 {
  font-size: 30px;
  text-align: center;
  opacity: 1;
  margin: 10px;
}
h4 {
  font-size: 20px;
  text-align: center;
  color: blue;
  font-weight: bold;
}
#game-race {
  font-size: 25px;
  border-bottom: 1px solid black;
  margin: 10px;
}
#distance-remaining {
  font-size: 50px;
  border-bottom: 1px solid black;
  margin: 10px;
}
#message-console {
  padding: 5px;
  margin: 10px;
}

#bottom-elements {
  display: flex;
  justify-content: space-around;
}

#button-wrapper {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
#reset-button {
  cursor: pointer;
  text-align: center;
  width: 170px;
  background-color: blue;
  border: 5px solid yellow;
  padding: 5px;
}
