body {
  background-color: gray;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#left-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#title {
  text-align: center;
  height: 100px;
  width: 200px;
  font-style: oblique;
  font-size: 110px;
  font-weight: 1100;
  color: yellow;
}
#icon {
  height: 400px;
  width: 200px;
  opacity: 0;
}

#center-elements {
  display: flex;
  justify-content: space-around;
}

#right-pane {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  background-color: gray;
  opacity: 0.75;
}
.spacer {
  height: 10px;
}
h3 {
  font-size: 40px;
  text-align: center;
  opacity: 1;
}
h4 {
  font-size: 20px;
  text-align: center;
  color: blue;
  font-weight: bold;
}
#game-race {
  font-size: 25px;
  border-bottom: 1px solid black;
}
#distance-remaining {
  font-size: 50px;
  border-bottom: 1px solid black;
}

#bottom-elements {
  display: flex;
  justify-content: space-around;
}

#button-wrapper {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
#reset-button {
  cursor: pointer;
  text-align: center;
  width: 170px;
  background-color: blue;
  border: 5px solid yellow;
  padding: 5px;
}
